<h1>Plans</h1>

<%= form_tag(plans_path, {method: :post, multipart: true}) do %>

  <h3>Styles</h3>
  <%= populate_style_options %>
  <%= file_field_tag 'plan_styles_file', accept: 'text/csv' %>

  <h3>Collections</h3>
  <%= populate_collection_options %>
  <%= file_field_tag 'plan_collections_file', accept: 'text/csv' %>

  <h3>Features</h3>
  <%= populate_feature_options %>
  <%= file_field_tag 'plan_features_file', accept: 'text/csv' %>
  <br /><br /><br />

  <%= submit_tag 'Save' %>
<% end %>
